<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Pioneer</span></h4>
	<div class="content ad">
		<a href="https://worldof.cloud"><img src="{{asset "/images/badge_rev1.psd.png"}}"></a>
	</div>
</div>
<!-- end widget -->
