<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Text Widget</span></h4>
	<div class="content">
Head in the Cloud is a simple group of developers and architects that are passionate about cloud computing. 
	</div>
</div>
<!-- end widget -->
